/*ini css*/
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #240401; 
}
::-webkit-scrollbar-thumb {
    background: #68160d; 
    border-radius: 20px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #68160d94;
}

body{
    background-color: #f5f2f0;
    color: #2e2626;
    font-family: "Lbre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(../asset/logo-icon.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
nav {
    display: flex;
}
nav>a {
    border: 1px solid;
    border-radius: 30px;
    border-color: #2e2626 ;
    background-color: #68160d;
    margin-right: 10px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    color: #f5f2f0;
    font-weight: 400;
    font-size: smaller;
}


#section-home {
    height: 700px;
    background-size: cover;
    background-position: 80% 20%;
    background-image: url(../asset/painting-home.jpg);
}
.text-home {
    padding-top: 300px;
}
.name-home {
    color: #f5f2f0;
    font-weight: 300;
    text-align: center;
    font-size: 150px;
    font-style: italic;
    margin:0;
    margin-top:-20px;
}
.quotes-home {
    font-family: monospace; 
    color: #f5f2f0;
    font-weight: 500;
    font-size: larger;
    margin: 0;
    margin-left: 650px;
    margin-top: -20px;
    border-right: 2px solid #2e2626; 
    white-space: nowrap; 
    overflow: hidden;
    text-align: center;
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
    font-style: italic;
}
@keyframes typing {
    from { width: 0px; }
    to { width: 800px; } 
}
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #f5f2f0; }
}
.welcome-home {
    color: #f5f2f0;
    font-weight: 90;
    margin-left: 250px;
    font-size: 30px;
    margin-bottom: 0;
}


/*ABOUT*/
.about-exhibition{
    display: flex;
    flex-direction: row;
}
.about-profile{
    font-size: 80px;
    font-weight: 90;
    padding-left: 100px;
    font-style: normal;
    margin: 0;
}
.flex-profile1{
    display: flex;
}
.exhi-profile{
    flex: 1;
}
.place-profile{
    flex: 3;
    height: 550px;
    margin-top: 10px;
    margin-left: -40px;
    margin-right: 100px;
    object-fit: cover;
    object-position: 50% 50%;
    
}
.our-profile{
    margin: 0;
    padding-left: 100px;
    font-weight: 2;
    font-style: italic;
    font-size: 60px;
    margin-top: -30px;
}
.painting-profile{
    margin: 0;
    padding-left: 10px;
    margin-top: -15px;
    width: 115px;
    height: 50px;
    object-fit: cover;
    object-position: 75% 25%;
}
.our-profile2{
    margin: 0;
    padding-left: 150px;
    font-weight: 2;
    font-style: italic;
    font-size: 60px;
    margin-top: -15px;
}
.aboutus-profile{
    max-width: 500px;
    margin-top: 165px;
    font-size: 16px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    border-top: #2e2626 solid 1px;
    padding-top: 10px;
}
.visi-misi-profile{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: -10px;
    margin-right: 150px;
}
.visi-profile{
    margin-right: 50px;
    font-style: italic;
}
.misi-profile{
    font-style: italic;
}
.isi-misi{
    margin-top: -15px;
    width: 400px;
    margin-left: -20px;
    font-style: normal;
}
.isi-visi{
    margin-top: -15px;
    width: 350px;
    font-style: normal;
}

/*Collections*/
#section-collections{
    height: 800px;
    display: flex;
    flex-direction: row;
}
.month {
    font-size: 50px;
    margin: 0;
    margin-left: 150px;
    font-weight: 100;
    font-style: oblique;
    margin-top: 60px;
}
.collection {
    font-size: 80px;
    margin: 0;
    margin-left: 100px;
    margin-top: -20px;
    font-weight: 700;
}
.painting-structure{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
  
}

.painting-1{
    width: 280px;
    margin-top: 150px;
}
.painting-1 p{
    margin: 0;
}
.painting-1 h3{
    margin: 0;
    font-weight: 600;
}
.painting-1 img {
    height: 300px;
    margin: 0;
}

.painting-2{
    width: 380px;
}
.painting-2 img {
    width: 350px;
    margin: 0;
}
.painting-2 h3{
    margin: 0;
    font-weight: 600;
}
.painting-2 p{
    margin: 0;
}

.painting-3{
    width: 380px;
}
.painting-3 img {
    width: 350px;
    margin: 0;
}
.painting-3 h3{
    margin: 0;
    font-weight: 600;
}
.painting-3 p{
    margin: 0;
}

.painting-4{
    width: 280px;
    margin-top: 200px;
}
.painting-4 img {
    height: 300px;
    margin: 0;
}
.painting-4 h3{
    margin: 0;
    font-weight: 600;
}
.painting-4 p{
    margin: 0;
}

.title-october{
    margin-top: 350px;
    margin-bottom: 5px;
    margin-left: 100px;
}
.october-collection {
    margin: 0;
    margin-left: 100px;
    width: 370px;
    text-align: justify;
}


#section-message-us{
    height: 800px;
}

.div-header-message{
    display: flex;
    flex-direction: row;
}
.header-message h1 {
    font-size: 70px;
    margin: 0;
}
.header-message h2 {
    font-size: 50px;
    margin: 0;
    margin-top: -50px;
    margin-left: 180px;
}
.header-message h3 {
    font-size: 40px;
    margin: 0;
    margin-top: -20px;
    margin-left: 80px;
}
.header-message p {
    width: 300px;
    margin-left: 30px;
    text-align: justify;
    border-left: #2e2626 1px solid;
    padding-left: 10px;
}
.message-container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: 1px #2e2626 solid;
    border-radius: 10px;
}
#message-form{
    font-size: 20px;
    margin: 0;
}
#message-form label{
    margin-bottom: 8px;
    font-weight: bold;
    margin: 0;
}
#message-form input[type="text"], #message-form input[type="date"], #message-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Lbre Baskerville", serif; 
    font-weight: 500px;
    font-size: 18px;
    margin: 0;
}
#message-form textarea {
    resize: none;
    height: 200px;
}
#message-form button {
    padding: 10px 20px;
    background-color: #68160d;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Lbre Baskerville", serif; 
   
}
#message-form button:hover {
    background-color: #240401;
}
.right-message{
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ccc; /* Add a border to keep the structure visible */
    border-radius: 4px;
    height: 100%; /* Set a fixed height */
    overflow: hidden; /* Prevents content from overflowing */
    box-sizing: border-box; /* Ensure padding is included in the element's width/height */
}
.right-message p{
    margin-bottom: 10px;
}
#currentTime {
    font-weight: 900;
}






footer>div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
}